PORT=3000
BASE_URL=http://localhost:3000
NODE_ENV=development

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=ecommercedb
DATABASE_USER=hassan
DATABASE_PASSWORD=password

JWT_SECRET=your-super-secret-jwt-key-change-in-production

ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=12345678
